<!DOCTYPE html>
<html lang="en" ng-app="store">

<head>
    <title>BlooeJay - Albums, Galleries, Photos</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="..." />
    <meta name="keywords" content="images, photos, album, gallery, family, hosting" />
    <meta name="author" content="Marek Pietrzak" />
    <meta name="copyright" content="Copyright 2016 ACTech" />
    <link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/bjay.css" />
    <script type="text/javascript" src="assets/libs/react/react.min.js"></script>
    <script type="text/javascript" src="assets/libs/react-dom/react-dom.min.js"></script>
</head>

<body ng-controller="RestifyController as rest">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#">
                <img src="/assets/img/blue_jay_24.png">BlooeJay
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                <form class="navbar-form navbar-justified" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    <!--<div ng-repeat="movie in rest.movies">
        <h1> {{movie.title}} </h1>
        <h1> {{movie.year}} </h1>
        <p> {{movie.imdb}}</p> -->

    <!-- <button ng-show="product.canPurchase">Add to Cart</button> -->



    <!-- <section ng-init="tab = 2">
	<ul class="nav nav-pills">
		<li ng-class="{ active:tab === 1 }" >
		 <a href ng-click="tab = 1">Description</a> </li>
		<li ng-class="{ active:tab === 2 }">
		 <a href ng-click="tab = 2">Specifications</a> </li>
		<li ng-class="{ active:tab === 3 }">
		 <a href ng-click="tab = 3">Reviews</a> </li>
	</ul>
	<div class="panel" ng-show="tab === 1">
 <h4>Description</h4>
 <p>{{product.description}}</p>	
</div>
<div class="panel" ng-show="tab === 2">
<h4>Specifications</h4>
<blockquote>None yet</blockquote>
</div>
<div class="panel" ng-show="tab === 3">
<h4>Reviews</h4>
<blockquote>None yet</blockquote>
</div>
</section> -->

    <!--</div>-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="jumbotron"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <ul class="list-group nav nav-tabs">
                    <a data-toggle="tab" href="#photo_wall" class="list-group-item active">Photo Wall
                    <span class="badge">14</span>
                    </a>
                    <a data-toggle="tab" href="#albums" class="list-group-item">Albums
                    <span class="badge">2</span>
                    </a>
                    <a data-toggle="tab" href="#favorites" class="list-group-item">Favorites
                    <span class="badge">1</span>
                    </a>
                </ul>
            </div>
            <div class="col-lg-10 tab-content">
                <div id="photo_wall" class="tab-pane fade in active"></div>
                <div id="albums" class="tab-pane fade">
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                </div>
                <div id="favorites" class="tab-pane fade">3</div>
            </div>
        </div>
    </div>

    <!-- <h1 ng-controller="RestifyController as rest" style="color:steelblue">{{rest.greetings}}</h1>
 -->

    <script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="build/app.module.js"></script>

</body>

</html>