<!DOCTYPE html>
<html ng-app="store">
<head>
<title>Blooejay</title>
<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/css/bootstrap.min.css" />
</head>
<body ng-controller="RestifyController as rest">
<div ng-repeat="movie in rest.movies">
<h1> {{movie.title}} </h1>
<h1> {{movie.year}} </h1>
<p> {{movie.imdb}}</p>
<!-- <button ng-show="product.canPurchase">Add to Cart</button> -->



<!-- <section ng-init="tab = 2">
	<ul class="nav nav-pills">
		<li ng-class="{ active:tab === 1 }" >
		 <a href ng-click="tab = 1">Description</a> </li>
		<li ng-class="{ active:tab === 2 }">
		 <a href ng-click="tab = 2">Specifications</a> </li>
		<li ng-class="{ active:tab === 3 }">
		 <a href ng-click="tab = 3">Reviews</a> </li>
	</ul>
	<div class="panel" ng-show="tab === 1">
 <h4>Description</h4>
 <p>{{product.description}}</p>	
</div>
<div class="panel" ng-show="tab === 2">
<h4>Specifications</h4>
<blockquote>None yet</blockquote>
</div>
<div class="panel" ng-show="tab === 3">
<h4>Reviews</h4>
<blockquote>None yet</blockquote>
</div>
</section> -->

</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#albums" role="tab" data-toggle="tab">Albums</a></li>
    <li><a href="#favorites" role="tab" data-toggle="tab">Favorites</a></li>
    <li><a href="#photo_wall" role="tab" data-toggle="tab">Photo Wall</a></li>
</ul>

<div class="tab-content">
    <div class="active tab-pane fade in" id="albums">1</div>
    <div class="tab-pane fade" id="favorites">2</div>
    <div class="tab-pane fade" id="photo_wall">3</div>
</div>

<!-- <h1 ng-controller="RestifyController as rest" style="color:steelblue">{{rest.greetings}}</h1>
 -->

<script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
<script type="text/javascript" src="assets/libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="app/app.module.js"></script>

</body>
</html>
