.bs-glyphicons .glyphicon {
    font-size: 48px;
}

.navbar-default .navbar-brand {
    color: #3876a8;
    font-size: 36px;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.navbar-brand>img {
   height: 70px;
   width: auto;
   margin-left: -10px;
   margin-top: -10px;
}